<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <label>Title:</label>
    <input type="text" formControlName="title" />
    <br />
  
    <label>Publication Date:</label>
    <input type="date" formControlName="publicationDate" />
    <br />

    <label>Author:</label>
    <input type="text" formControlName="authorName" />
    <br />

    <label>Genre:</label>
    <input type="text" formControlName="genre" />
    <br />
  
    <label>Price:</label>
    <input type="number" formControlName="price" />
    <br />
  
    <button type="cancel" (click)="onCancel()">Cancel</button>
    <button type="submit">Save</button>
</form>
