nav{
    margin-top:  100px;
}

nav ul {
    list-style: none; /* Entfernt die Punkte der Liste */
  
  }

nav ul li a {
    text-decoration: none; /* Entfernt die Unterstreichung */
    color: #333; /* Optionale Textfarbe */
    font-size: 1rem; /* Optionale Schriftgröße */
    display: block; /* Macht die Links klickbar über die gesamte Breite */
    padding: 0.5rem 0; /* Zusätzlicher Abstand für bessere Klickbarkeit */
  }
  
nav ul li a:hover {
    background-color: #ddd; /* Hintergrundfarbe beim Hover */
    color: #000; /* Textfarbe beim Hover */
}