<div class="container">   
  
  <app-hamburger (toggle)="toggleSidebar()"></app-hamburger>
  
  <aside class="sidebar" [class.open]="isSidebarOpen">  
    <app-sidebar></app-sidebar>
  </aside>
  
  <main class="main-content">
    <div class="create-container">
      <app-create (createClicked)="showForm()"></app-create>
    </div>
    <section class="table-container">
      <app-table></app-table>
    </section>

    @if (isFormVisible) {
      <section class="form-container">
        <app-book-form></app-book-form>
      </section>
    }
   
  </main>  
</div>

<router-outlet />
