<a (click)="navigateToCreate()">
  <button>Create</button>
</a>
<table border="1" style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th>Title 1</th>
      <th>Author</th>
      <th>Publication Date</th>
      <th>Genre</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books$ | async">
      <td>{{ book.title }}</td>
      <td>{{ book.author.name }}</td>
      <td>{{ book.publicationDate | date: 'mediumDate' }}</td>
      <td>{{ book.genre || 'N/A' }}</td>
      <td>{{ book.price | currency }}</td>
      <td>
        <button (click)="editBook(book)">Edit</button>
        <button (click)="deleteBook(book)">Delete</button>
        <button (click)="viewBook(book)">View</button>
      </td>
    </tr>
  </tbody>
</table>


