<table border="1" style="width: 100%; border-collapse: collapse;">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Publication Date</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>test</td>
          <td>test</td>
          <td>test</td>
          <td>test</td>
          <td>test</td>
          <td>
            <button>Edit</button>
            <button>Create</button>
            <button>Delete</button>
          </td>
        </tr>
    </tbody>
  </table>
